<h1>Sign Up</h1>
<div class="large-4 large-centered columns form-wrapper">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      </div>
      <br>
      <%= f.label :user_name, "User name" %>
      <%= f.text_field :user_name %>
      <br>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <br>
      <%= f.submit "Sign Up", :class => 'button radius' %>
  <% end %>
</div>
